p.first
{
text-align:left;
color:coral;
background-color:purple;
}

p.second
{
text-align:left;
color:lightgray;
background-color:black;
}

p.third
{
text-align:left;
color:blue;
background-color:violet;
}

#p
{
text-align:left;
color:yellow;
background-color:green;
}

.p
{
text-align:left;
color:red;
background-color:pink;
}

.p1
{
text-align:left;
color:white;
background-color:red;
}